body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1e21 !important;
}

img{
    width: 30px;
    height: 30px;
}

.autoscrollable-wrapper {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

#message{
    max-width: 98%;
}

::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: #1c1e21;        /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #0d6efd;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #1c1e21;  /* creates padding around scroll thumb */
  }

@media (max-width: 1312px){
    #message{
        max-width: 97%;
    }
}

@media (max-width: 890px){
    #message{
        max-width: 96%;
    }
}

@media (max-width: 686px){
    #message{
        max-width: 93%;
    }
}

@media (max-width: 435px){
    #message{
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    #root{
        background-color: #1c1e21;
        display: flex;
        justify-content: center;
        align-items: top;
        width: 450px;
    }
}

@media (min-width: 768px) {
    #root{
        background-color: #1c1e21;
        display: flex;
        justify-content: center;
        align-items: top;
        width: 800px;
    }
}

@media (min-width: 576px) {
    #root{
        background-color: #1c1e21;
        display: flex;
        justify-content: center;
        align-items: top;
        width: 600px;
    }
}

@media (max-width: 575px) {
    #root{
        background-color: #1c1e21;
        display: flex;
        justify-content: center;
        align-items: top;
        width: 80%;
    }
}